.listContainer {
  position: relative;
}

$listColor: #353535;

.list {
  font-size: 18px;
  background-color: $listColor;
  position: absolute;
  color: #f7f7f7;
  top: 0px;
  right: 0px;
  min-height: 100px;
  box-shadow: 3px 3px 10px black;
}

.favorites {
  background-color: #e0d178;
  font-size: 18px;
  color: black;
  border-radius: 2px;
  border: 1px solid darken(#e0d178, 15);
  padding: 5px;
}

.listTable {
  border-collapse: collapse;
  margin-top: 10px;
}

$cellPadding: 5px;

.tableBody {
  .row {
    &:nth-child(odd) {
      background-color: darken($listColor, 5);
    }
    &:hover {
      background-color: darken($listColor, 10);
    }
  }
}
.row {
  .cell:last-child {
    padding-left: $cellPadding;
    padding-right: 15px;
  }

  .cell:first-child {
    padding-right: $cellPadding;
    padding-left: 15px;
  }

  .cell {
    padding-left: $cellPadding;
    padding-right: $cellPadding;
    white-space: nowrap;
  }
}

.deleteIcon {
  color: red;
}

.noFavoritesContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  .noFavorites {
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
  }
}
