.listContainer {
  position: relative;
}

.list {
  font-size: 18px;
  background-color: lightgray;
  color: black;
  height: 300px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.listTable {
  border-collapse: collapse;
}

$cellPadding: 5px;

.tableBody {
  .row {
    &:nth-child(odd) {
      background-color: darken(lightgray, 5);
    }
    &:hover {
      background-color: darken(lightgray, 10);
    }
  }
}
.row {
  .cell:last-child {
    padding-left: $cellPadding;
    padding-right: 15px;
  }

  .cell:first-child {
    padding-right: $cellPadding;
    padding-left: 15px;
  }

  .cell {
    padding-left: $cellPadding;
    padding-right: $cellPadding;
    white-space: nowrap;
  }
}

.deleteIcon {
  color: red;
}
