.pageContainer {
  display: flex;
  height: 80vh;
  flex-direction: column;
}

.searchBarContainer {
  width: 100%;
  text-align: center;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.searchBar {
  width: 500px;
  font-size: 40px;
  background-color: lighten(#1c1c1c, 10);
  border: 0px;
  border-radius: 10px;
  color: #f7f7f7;

  &:focus {
    outline: 0px;
  }
}

.cardContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.albumCard {
  margin: 15px;
  box-shadow: 5px 5px 8px black;

  &:hover {
    outline: 1px solid cornflowerblue;
  }
}

.album {
  position: relative;
  height: 300px;
  width: 300px;
}

.artistName {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding-top: 5px;
  background-color: rgba(15, 15, 15, 0.7);
}
