.header {
  height: 40px;
  padding: 10px 10px 0px 10px;
  font-size: 32px;
  color: #a12613;
  background-color: black;
  border-bottom: 1px solid rgb(83, 83, 83);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: fit-content;
}
